apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# This namespace must match the Subject namespaces for the RBAC in ../rbac.yaml
namespace: fmperf

resources:
- sa.yaml
- rbac.yaml
- workload-configmap.yaml
- compare-baseline-llmd/pvc-compare.yaml 
